<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer>

	<script th:src="@{ /assets/admin/js/jquery.min.js }"></script>
	<script th:src="@{ /assets/admin/js/bootstrap.min.js }"></script>
	<script th:src="@{ /assets/admin/js/modernizr.custom.js }"></script>
	<script th:src="@{ /assets/admin/js/lib/slimscroll/jquery.slimscroll.min.js }"></script>
	<script th:src="@{ /assets/admin/js/lib/animsition/animsition.min.js }"></script>
	<script th:src="@{ /assets/admin/js/main.js }"></script>
		<!-- MATCHMEDIA POLYFILL-->
</footer>

</html>